<div id ="favorite">
  <% if user_signed_in? %>
    <% unless @startup.user_id == current_user.id %>
        <% if @favorite.present? %>
          <small class="badge badge-warning"> <em> You promoted this startup  </em></small>
        <% else %>
          <%= link_to 'PROMOUVOIR', favorites_path(startup_id: @startup.id), method: :post ,class:"btn btn-sm btn-warning add" %>
        <% end %>
    <% end %>
  <% end %>
</div>
