<h1>This Startup now belong to your reseau</h1>
<div class="">
   <span><p>Startup name: <%= @following.startup.name %></p></span>
   <hr>
   <span><p>Startup resume: <%= @following.startup.name %></p></span>
   <hr>
   <span><p>Visit Startup: <%= link_to "visite the Startup" startup_path(@following.startup.id) %></p></span>
</div>
