<h1>Suppression réussit </h1>
<p> Votre startup à été supprimer avec succès</p>
<div class="">
   <span><h4>Start up name: <%= @startup.name %></h4></span>
</div>
<div class="">
  <p>Résume: <%= @startup.resume %></p>
  <p>IFU: <%= @startup.trade_registre %></p>
  <p>Adress: <%= @startup.address %></p>
</div>
